@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

a {
  color: #3c3c3c;
  text-decoration: none;

  &:hover {
    color: #b51c25;
  }
}
.shell {
  background: #633184;
  color: white;
  display: none;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  h1 {
    font-size: 17px;
  }

  .shell__img {
    width: 25px;
  }

  .shell__button {
    cursor: pointer;
    background: 0;
    border: 0;
    margin: 0 10px;
  }
}

.main {
  display: flex;
  height: 100%;

  .fa {
    margin: 0px 10px 0 0;
  }

  .main__sidebar {
    color: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #f5f5f5;
    width: 25%;
    transform: translateX(0);
  }

  .main__section {
    width: 75%;
    box-sizing: border-box;
    left: 25%;
  }

  .main__iframe {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .main__logo {
    width: 100px;
    padding: 10px;
  }

  .main__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main__link {
    cursor: pointer;
    padding: 10px;
    margin: 1px;
    background: #efefef;
  }

  .main__link:hover {
    background: white;
  }
}

@media (max-width: 768px)  {
  .shell {
    display: flex;
  }
  .main{
    .main__sidebar{
      position: absolute;
      width: 300px;
      transform: translateX(-300px);
      transition: transform 0.5s;

      &.active {
        transform: translateX(0);
      }
    }

    .main__section {
      width: 100%;
    }
  }

}
