<header class="shell">
  <h1>{{ componentName }}</h1>
  <button (click)="toggleMenu()" class="shell__button"><img class="shell__img" src="assets/images/menu.svg"></button>
</header>
<section class="main">
  <aside [ngClass]="{'active': menu}" class="main__sidebar">
    <img class="main__logo" src="/assets/images/frontstack.png">
    <h1>{{ componentName }}</h1>
    <nav class="main__nav">
      <a (click)="toggleMenu()" [routerLink]="['/demo']" class="main__link"><i class="fa fa-play-circle"></i>Demo</a>
      <a (click)="toggleMenu()" [routerLink]="['/docs']" class="main__link"><i class="fa fa-file"></i>Docs</a>
      <a (click)="toggleMenu()" [routerLink]="['/reports']" class="main__link"><i class="fa fa-file"></i>Tests Reporting</a>
    </nav>
  </aside>
  <section class="main__section" >
    <router-outlet></router-outlet>
  </section>
</section>
